body {
    background-color: bisque;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.footer {
    display: flex;
}

/* Temporary rules for visibility */
div {
    border: solid brown 3px;
}

.footer>p {
    border: solid brown 3px;
}